.formTitle {
  width: 210px;
  text-align: right;
  padding: 0 10px;
}
.formControl_profile {
  width: 500px;
}
.form_container {
  max-width: 900px;
  margin: auto;
}
.form_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-label {
  margin-bottom: 0rem;
  margin: 0 10px;
}
.profile_form_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 10px;
}
.profile_btn_container {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}

@media (max-width: 600px) {
  .form_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .formTitle {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 3px;
  }
  .formControl_profile {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .formControl_profile {
    width: 310px;
  }
}
@media (max-width: 340px) {
  .formControl_profile {
    width: 280px;
  }
}
