.user_level_container {
  text-align: center;
  padding: 30px;
  padding-bottom: 50px;
  border: 1px #0099cf solid;
  border-radius: 20px;
  margin: 20px auto 40px;
  max-width: 1000px;
}
.user_level_title_container {
  margin-bottom: 20px;
}
.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}

.test {
  position: absolute;
  margin-top: 60px;
  color: grey;
  white-space: nowrap;
}
